In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
df = pd.read_csv('/workspaces/ml-zoomcamp/01-introduction/data/raw/laptops.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [5]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [6]:
print(df['Brand'].unique())
print(len(df['Brand'].unique()))

['Asus' 'Alurin' 'MSI' 'HP' 'Lenovo' 'Medion' 'Acer' 'Apple' 'Razer'
 'Gigabyte' 'Dell' 'LG' 'Samsung' 'PcCom' 'Microsoft' 'Primux' 'Prixton'
 'Dynabook Toshiba' 'Thomson' 'Denver' 'Deep Gaming' 'Vant' 'Innjoo'
 'Jetwing' 'Millenium' 'Realme' 'Toshiba']
27

In [7]:
for col in df.columns:
    miss = df[col].isna().sum() 
    if miss > 0:
        print(f"{col} has total {miss} missing values")

Storage type has total 42 missing values
GPU has total 1371 missing values
Screen has total 4 missing values

What's the maximum final price of Dell notebooks in the dataset?

In [8]:
df['Final Price'][df['Brand']=='Dell'].max()

3936.0

Q6. Median value of Screen

    Find the median value of Screen column in the dataset.
    Next, calculate the most frequent value of the same Screen column.
    Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
    Now, calculate the median value of Screen once again.

Has it changed?

In [9]:
df['Screen'].unique()

array([15.6 , 17.3 , 14.  , 16.1 , 13.3 , 16.  , 13.6 , 17.  , 15.3 ,
       14.5 , 13.4 , 14.2 , 18.  , 14.1 , 12.4 , 13.5 , 16.2 , 15.  ,
       11.6 , 13.  , 10.5 , 14.4 ,   nan, 12.3 , 15.4 , 12.5 , 10.1 ,
       10.95, 12.  , 13.9 ])

In [10]:
df['Screen'].value_counts()

Screen
15.60    1009
14.00     392
16.00     174
17.30     161
13.30     131
16.10      48
17.00      33
13.00      27
15.00      21
13.50      19
13.40      19
11.60      16
14.20      14
12.30      13
14.10      11
13.60      11
16.20      10
15.30       8
10.50       7
14.40       6
12.40       6
15.40       5
12.00       4
18.00       3
14.50       3
13.90       2
12.50       1
10.10       1
10.95       1
Name: count, dtype: int64

In [11]:
# 1. Find the median value of 'Screen' column before filling missing values
median_before = df['Screen'].median()
print(f"Median of 'Screen' column before filling missing values: {median_before}")

# 2. Find the most frequent value in the 'Screen' column
most_frequent = df['Screen'].mode()[0]
print(f"Most frequent value in 'Screen' column: {most_frequent}")

# 3. Print the frequencies of unique values in 'Screen' column
value_counts_before = df['Screen'].value_counts(dropna=False)
print("\nFrequencies of unique values in 'Screen' column before filling missing values:")
print(value_counts_before)

Median of 'Screen' column before filling missing values: 15.6
Most frequent value in 'Screen' column: 15.6

Frequencies of unique values in 'Screen' column before filling missing values:
Screen
15.60    1009
14.00     392
16.00     174
17.30     161
13.30     131
16.10      48
17.00      33
13.00      27
15.00      21
13.40      19
13.50      19
11.60      16
14.20      14
12.30      13
14.10      11
13.60      11
16.20      10
15.30       8
10.50       7
14.40       6
12.40       6
15.40       5
NaN         4
12.00       4
14.50       3
18.00       3
13.90       2
12.50       1
10.10       1
10.95       1
Name: count, dtype: int64

In [12]:
# 4. Use fillna to fill missing values with the most frequent value
df['Screen'].fillna(most_frequent, inplace=True)

# 5. Print the frequencies of unique values after filling missing values
value_counts_after = df['Screen'].value_counts(dropna=False)
print("\nFrequencies of unique values in 'Screen' column after filling missing values:")
print(value_counts_after)

# 6. Calculate the median value again after filling the missing values
median_after = df['Screen'].median()
print(f"\nMedian of 'Screen' column after filling missing values: {median_after}")

Frequencies of unique values in 'Screen' column after filling missing values:
Screen
15.60    1013
14.00     392
16.00     174
17.30     161
13.30     131
16.10      48
17.00      33
13.00      27
15.00      21
13.50      19
13.40      19
11.60      16
14.20      14
12.30      13
14.10      11
13.60      11
16.20      10
15.30       8
10.50       7
14.40       6
12.40       6
15.40       5
12.00       4
18.00       3
14.50       3
13.90       2
12.50       1
10.10       1
10.95       1
Name: count, dtype: int64

Median of 'Screen' column after filling missing values: 15.6

/tmp/ipykernel_32089/1935639164.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Screen'].fillna(most_frequent, inplace=True)

Q7. Sum of weights

    Select all the "Innjoo" laptops from the dataset.
    Select only columns RAM, Storage, Screen.
    Get the underlying NumPy array. Let's call it X.
    Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
    Compute the inverse of XTX.
    Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
    Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
    What's the sum of all the elements of the result?

In [13]:
import numpy as np
# 1. Select all the "Innjoo" laptops from the dataset
innjoo_df = df[df['Brand'] == 'Innjoo']

# 2. Select only columns RAM, Storage, Screen
X = innjoo_df[['RAM', 'Storage', 'Screen']].values

# 3. Get the underlying NumPy array (already done in previous step)

# 4. Compute matrix-matrix multiplication between the transpose of X and X
XTX = np.dot(X.T, X)

# 5. Compute the inverse of XTX
XTX_inv = np.linalg.inv(XTX)

# 6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100]
y = np.array([1100, 1300, 800, 900, 1000, 1100])

# 7. Multiply the inverse of XTX with the transpose of X, and then multiply by y
w = np.dot(np.dot(XTX_inv, X.T), y)

# 8. Sum all the elements of the result
result_sum = np.sum(w)

print("Sum of all elements of the result:", result_sum)

Sum of all elements of the result: 91.29988062995588